.app {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 26px;
}

input {
    margin: 5px;
}

.reminder-form {
    padding: 5px;
}