.adverb {
  background: #c4e3f3;
}

.qualifier {
  background: #c4e3f3;
}

.passive {
  background: #c4ed9d;
}

.complex {
  background: #e3b7e8;
}

.hardSentence {
  background: #f7ecb5;
}

.veryHardSentence {
  background: #e4b9b9;
}

#text-area,
#output {
  width: 100%;
}

#left {
  width: 75%;
  position: absolute;
  left: 2.5%;
}
#right {
  width: 20%;
  position: absolute;
  right: 2.5%;
}

.counter {
  position: relative;
  padding: 5% 5%;
  margin: 5% 0 0 5%;
  border-radius: 8px;
}
