:root{
    --oran: #e17002;
    --offwhite: #F9E4CF;
    --db: #985412;
    --vdb: #833500;
}


.box {
    position: relative;
    width: 60vw;
    height: 60vw;
    margin-top: %;
    margin-left: auto;
    margin-right: auto;
    background: none;
}

.head {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 5%;
    left: 15%;
    border-radius: 50%;
    background: var(--oran);
}

.headcopy{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: var(--oran);
    box-shadow: 0 -5px 5px 0 var(--oran);;
}

.earL, .earR{
    position: absolute;
    width: 50%;
    height: 80%;
    top: -10%;
    border-radius: 50;
    background: var(--offwhite);
    transform: rotate(-50deg);
    border-radius: 50%;
    border-top: 10px solid var(--vdb);
    border-right: 10px solid var(--vdb);
    box-shadow: 0 -5px 5px var(--vdb); 
}
.earL{left: -10%}

.earR{
    right:-10%;
    transform: rotate(50deg);
    border-right: none;
    border-left: 10px solid var(--vdb);
}



.bottomearR {right: -35%; transform: rotate(-30deg)}
.bottomearL {left: -35%; transform: rotate(30deg)}

.inear {
    position: absolute;
    width: 50%;
    height: 70%;
    top: 10%;
    left: 25%;
    border-radius: 50%;
    background: var(--db);
}

.whitecover {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    border-radius: 0 0 22vw 22vw;
    background: var(--offwhite);

}

.undereyeL, .undereyeR{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    border-radius: 50%;
    background: var(--oran);
    
}
.undereyeR {
    right: 0%;
}
.nosewhite {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 46%;
    left: 35%;
    border-radius: 50%;
    background: var(--offwhite);
}
.nose{
    position: absolute;
    width: 80%;
    height: 70%;
    background: pink;
    border-radius: 50%;
    left: 10%;
    top: 5%;
    box-shadow: 5px 5px 5px rgba(200, 50, 100, 0.8)
}

.eyeL, .eyeR{
    position: absolute;
    width: 25%;
    height: 35%;
    top: 20%;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px 2px var(--db);
}
.eyeL{left: 10%;}
.eyeR{right: 10%}
.irisL, .irisR {
    position: absolute;
    width: 95%;
    height: 60%;
    top: 20%;
    border-radius: 50%;
    background: yellow;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.irisL{left:5%;}
.irisR{right:5%;}

.pupilL, .pupilR{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 15%;
    left: 2%;
    border-radius: 50%;
    background: black;
}
.mouth{
    position: absolute;
    width: 40%;
    height: 15%;
    top: 75%;
    left: 30%;
    border-radius: 70%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    background: darkred;
    
}
.tongue{
    position: absolute;
    width: 80%;
    height: 70%;
    top: 30%;
    left: 14%;
    border-radius: 50%;
    background: rgb(200, 50, 100);
}

.s1L, .s2L{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--vdb);
    -webkit-clip-path: polygon(0 58%, 0 65%, 30% 60%);
    clip-path: polygon(0 58%, 0 65%, 30% 60%);
}
.s2L{transform: rotate(-20deg)}

.s1R, .s2R{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--vdb);
    -webkit-clip-path: polygon(100% 58%, 100% 65%, 70% 60%);
    clip-path: polygon(100% 58%, 100% 65%, 70% 60%);
}
.s2R{transform: rotate(20deg)}

.s3L{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--vdb);
    -webkit-clip-path: polygon(0% 95%, 15% 100%, 28% 80%);
    clip-path: polygon(0% 95%, 15% 100%, 28% 80%);
}
.s3R{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--vdb);
    -webkit-clip-path: polygon(100% 95%, 85% 100%, 72% 80%);
    clip-path: 
}
.stc{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--vdb);
    -webkit-clip-path: polygon(45% 0%, 55% 0%, 50% 40%)
}

.st1L, .st1R{
    position: absolute;
    width: 80%;
    height: 80%;
    top: -75%;
    border-radius: 50%;
    border: 2vw solid var(--vdb);
    -webkit-clip-path: polygon(30% 100%, 60% 100%, 50% 40%)
}
.st2L, .st2R{
    position: absolute;
    width: 80%;
    height: 80%;
    top: -65%;
    border-radius: 50%;
    border:1.2vw solid var(--vdb);
    -webkit-clip-path: polygon(40% 100%, 60% 100%, 50% 40%)
}

.st1R, .st2R{
    transform: scaleX(-1);
    right:0;
}

{
    position: absolute;
    width: ;
    height: ;
    top: ;
    left: ;
    border-radius: ;
}