#case {
    margin: 5vmin;
    padding: 5vmin;
    background-color: chocolate;
}

#screen {
    padding: 3vmin;
    background-color: white;
    display: block;
}

#screen2 {
    padding: 3vmin;
    background-color: white;
    display: none;
}

#player1Go, #player2Go {
    background-color: blue;
    color: white;
}

#grid {
    height: 74vmin;
    width: 74vmin;
    margin: auto;
    margin-top: 3vmin;
    background-color: black;
    
}

.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    overflow: hidden;
    background-color: white;
}

.content {
    position: absolute;
    height: 80%;
    width: 90%;
    margin: 10% 5%;
}