#displayScreen{
    position: absolute;
    width: 50%;
    height: 80%;
    right: 0;
}
#displatTop {
    font-size: 1em;
}
#displayText {
    position: absolute;
    width: 90%;
    height: 80%;
    right: 5%;
    background: white;
    border: 1px solid black;
    text-align: left;
    font-size: 0.9em;
    overflow-y: scroll;
}
#dropZone{
    position: absolute;
    width: 90%;
    height: 5%;
    top: 90%;
    right: 5%;
    border: 2px dashed pink;
}
