#editTop {
    font-size: 1em;
}
#edit {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 5%;
}
#editorScreen{
    position: absolute;
    width: 50%;
    height: 80%;
    left: 0;
}
