#case {
    background-color: #bbb;
    padding: 40px;
    width: 600px;
    border-radius: 20px;
    border-width: 3px;
    border-color: black;
    box-sizing: border-box;
    justify-content: center;
    margin: 30px auto 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#screen {
    background-color: white;
    padding: 20px 40px 20px 40px;
    border: 1px solid black;
    border-radius: 20px;
}
.myBtn {
    margin:5px;
}

@media (max-width: 600px) and (min-width: 430px) {
    #case {
        width: auto;
    }
}

@media (max-width: 430px) {
    #case {
        width: 430px;
    }
}
